<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0"
>
    <display-name>xml-servlet</display-name>

    <request-character-encoding>UTF-8</request-character-encoding>
    <response-character-encoding>UTF-8</response-character-encoding>

    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresDefault</param-name>
            <param-value>access plus 5 minutes</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FailedRequestFilter</filter-name>
        <filter-class>org.apache.catalina.filters.FailedRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FailedRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LogInfoFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.LogInfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogInfoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SerializeDomFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.SerializeDomFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>dom</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SerializeDomFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetProxyPath</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>page</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/proxypath.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>dom</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetProxyPath</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ProxyPathFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.ProxyPathFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProxyPathFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SlashRedirectFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.SlashRedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SlashRedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetPageStyle</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>page</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/pagestyle.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>page</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetPageStyle</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PageStyleFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.PageStyleFilter</filter-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>/assets/style/style.css</param-value>
        </init-param>
        <init-param>
            <param-name>pageclass</param-name>
            <param-value>fontFeatures unicodeWebFonts solarizedLight</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageStyleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FormatDirectory</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>dir</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/directory.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>page</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FormatDirectory</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DirectoryFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.DirectoryFilter</filter-class>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>dir</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DirectoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.ContentTypeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>HtmlToXhtmlFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.HtmlToXhtmlFilter</filter-class>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>page</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HtmlToXhtmlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-xhtml-page</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-xhtml-page.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>page</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-xhtml-page</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-xhtml-general</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-xhtml-general.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-xhtml-general</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-xhtml-specific</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-xhtml-specific.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-xhtml-specific</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-teiattr</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-teiattr.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-teiattr</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-norm-text</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-norm-text.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-norm-text</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-facs</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-facs.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-facs</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TEI-copyOf</filter-name>
        <filter-class>nu.mine.mosher.servlet.XsltFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>tei</param-value>
        </init-param>
        <init-param>
            <param-name>xsltPath</param-name>
            <param-value>/WEB-INF/xslt/tei-copyOf.xslt</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TEI-copyOf</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TeiDetectorFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.TeiDetectorFilter</filter-class>
        <init-param>
            <param-name>attrIn</param-name>
            <param-value>page</param-value>
        </init-param>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>tei</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TeiDetectorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>XmlToDomFilter</filter-name>
        <filter-class>nu.mine.mosher.servlet.XmlToDomFilter</filter-class>
        <init-param>
            <param-name>attrOut</param-name>
            <param-value>page</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XmlToDomFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
